<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    {{#if isAuthentic}}
        <div id="profile"><span>Hello, {{username}}</span>|<a href="#/logout">logout</a></div>
    {{/if}}
</header>